# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Env
.env/*
.env

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Logs
*.log

# OS / system
Thumbs.db

# Java
*.class

# Spring / temp
*.tmp
*.swp

# IntelliJ
out/

# Build
build/